{% load static %}




<div class="card mb-3 text-bg-light shadow-lg">
    <div class="card-header">
        <h5 class="card-title">Добавить товар</h5>
    </div>
    <form method="POST" action="{% url 'items:item_add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            <!-- Название товара -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <label for="item_name" class="form-label">Название товара</label>
                        <input type="text" class="form-control" id="item_name" name="item_name" required>
                    </div>
                </div>
            </li>

            <!-- Описание товара -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <label for="item_description" class="form-label">Описание товара</label>
                        <textarea class="form-control" id="item_description" name="item_description" rows="4" required></textarea>
                    </div>
                </div>
            </li>

            <!-- Цена товара -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <label for="item_price" class="form-label">Цена товара</label>
                        <input type="number" class="form-control" id="item_price" name="item_price" step="0.01" required>
                    </div>
                </div>
            </li>

            <!-- Количество товара -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <label for="item_quantity" class="form-label">Количество</label>
                        <input type="number" class="form-control" id="item_quantity" name="item_quantity" min="1" required>
                    </div>
                </div>
            </li>

            <!-- Изображение товара -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <label for="item_image" class="form-label">Изображение товара</label>
                        <input type="file" class="form-control" id="item_image" name="item_image" accept="image/*" required>
                    </div>
                </div>
            </li>
        </ul>

        <!-- Кнопка отправки формы -->
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">Добавить вещь </button>
        </div>
    </form>
</div>
